.ingreso {
    display: flex;
}

.ingreso ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex; 
}

.ingreso li {
    margin-right: 150px; 
}

.ingreso a {
    text-decoration: none;
    color: #090909;
    font-weight: bold;
}