.input-section label,
.input-section select,
.input-section input,
.input-section button {
    margin-bottom: 10px;
    width: 100%; 
    box-sizing: border-box; 
}

.input-section button {
    background-color: #007bff; 
    color: #fff;
    border: none;
    border-radius: 40px;
    padding: 10px 25px;
    cursor: pointer;
    width: auto; 
}

body {
    background-color: #343738; 
    font-family: Arial, sans-serif;
    color: #fff; 
    margin: 0; 
    padding: 0; 
}


html, body, .grid-container {
    height: 100%;
}


.grid-container {
    display: grid;
    grid-template-columns: 50% 50%; 
    gap: 20px;
    padding: 20px;
    box-sizing: border-box; 
}


.input-section {
    background-color: #333; 
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    overflow: hidden; 
    height: 60%; 
    box-sizing: border-box; 
}


.chart-section {
    background-color: #333;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    height: 60%; 
    box-sizing: border-box; 
}


#chart-container {
    width: 100%;
    height: 100%;
}


#chart {
    width: 100%;
    height: 100%;
}